/* universal selector */
*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* body tag work */
body{
    font-family: 'Open Sans', sans-serif;
}

/* header section work */
header{
    background: rgba(229, 84, 115, 0.10);
position: absolute;
}
.header-container{
    display: flex;
}
.header-title{
    color: #272727;
font-size: 80px;
font-weight: 800;
margin: 0px 972px 32px 240px;
padding-top: 197px;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: 0px 1046px 32px 240px;
}
.btn-primary{
    border-radius: 8px;
background: #E55473;
padding: 20px 43px;
margin: 0 1503px 147px 240px;
}
.btn-text{
    color: #FFF;
font-size: 20px;
font-weight: 700;
}
.red-rose{width: 635px;
    height: 800px;

}
/* main section work */
/* feature section under main section */
.feature-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
padding: 1028px 764px 24px 764px;
}
.feature-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 27px;
}
/* flower pic section under main section */
.flower-pic1{border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px; 
    
}
.flower-pic2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
width: 464px;
height: 538px;  
}
.flower-pic3{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
width: 464px;
    height: 538px;  
}
.flower-name{
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
margin-top:32px ;
}
.flower-pic-and-name{
    display: flex;
    margin: 48px 0px 163px 800px;
    gap: 24px;

}
/* our special service info under main section */
.special-service{
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
width: 1440px;
height: 320px;
display: flex;
margin: auto;
}
.service-description{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 35px;
margin-top: 20px;
padding: 0px 100px 87px 175px;
}
/* hot deal section */
.btn-secondary{
    border-radius: 8px;
background: #E55473;
padding: 20px 43px;
}
.hot-deal{
    display: flex;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
margin-top:128px ;
justify-content: space-around;
}
.hot-deal-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
margin: 230px 215px 24px 423px;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: 0 186px 24px 395px;
}
.btn-secondary{
    margin: 0 417px 162px 603px;
}
/* insta section under main section */
.insta{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-top: 290px;
margin-bottom: 24px;
}
.insta-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 48px;
}
/* more flower pic under main  */
.more-flower-pic-container{
    display: flex;
   margin-right: 800px;
   margin-left: 800px;
   justify-content: space-between;
}
/* subscribe section under main */
.subscribe{

border-radius: 8px;
margin: 100px 240px;
margin-left: 800px;
border-radius: 8px;
position: relative;
}
.subscribe-text{
    position: absolute;
  top: 20%;
    color: #272727;
    padding: 10px;
    text-align: center;
    margin-left: 533px;
   
}
.subscribe img{
    max-width: 100%;
    height: auto;
}
.subscribe-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}
.cupon{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 48px;
}
#email{
width: 400px;
height: 50px;
border-radius: 8px;
background: #FFF;
}




/* footer section work */