/* universal selector */
*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* body tag work */
body{
    font-family: 'Open Sans', sans-serif;
}

/* header section work */
header{
    background: rgba(229, 84, 115, 0.10);
position: absolute;
}
.header-container{
    display: flex;
}
.header-title{
    color: #272727;
font-size: 80px;
font-weight: 800;
margin: 0px 972px 32px 240px;
padding-top: 197px;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: 0px 1046px 32px 240px;
}
.btn-primary{
    border-radius: 8px;
background: #E55473;
margin: 0 1503px 147px 240px;
padding: 20px 43px;
}
#shop-now{
    color: #FFF;
font-size: 20px;
font-weight: 700;
}
.red-rose{width: 635px;
    height: 800px;

}
/* main section work */
/* feature section under main section */
.feature-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
padding: 1028px 764px 24px 764px;
}
.feature-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
/* flower pic section under main section */
.flower-pic{
    width: 1920px;
height: 4867px;
background: #FFF;
display: flex;

}
.frame{
    width: 464px;
height: 538px;
padding: 110px 78px 0px 76px;
}
.a{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.b{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.c{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
/* footer section work */